Source: rp-bookshelf
Section: admin
Priority: optional
Maintainer: Simon Long <simon@raspberrypi.com>
Build-Depends: debhelper (>= 9), dh-autoreconf, libglib2.0-dev, libgtk2.0-dev,
 libx11-dev, intltool, libcurl4-gnutls-dev
Standards-Version: 3.9.6
Homepage: https://github.com/raspberrypi-ui/rp_bookshelf
Vcs-Git: git://git@github.com:raspberrypi-ui/rp_bookshelf.git
Vcs-Browser: https://github.com/raspberrypi-ui/rp_bookshelf

Package: rp-bookshelf
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libcurl4
Description: Raspberry Pi publications
 Browser for Raspberry Pi Press publications in PDF format
